.info-contaner {
  border: 1px solid #dbc920;
  border-radius: 1rem;
}

.bold-text {
  font-weight: 500;
}

.label-style {
  //background-color: var(--component-backgroud);
  //border-radius: 1rem;
  color: var(--label);
  font-size: small;
}
