<div id="map" style="height: 60vh; margin: 2rem 6rem 2rem 6rem; border-radius: 1rem;"></div>
@if(selectedPanel){
  <div class="container-fluid g-0 d-flex align-items-center justify-content-center">
    <div class="row g-0 info-contaner p-5 mb-5">
      <div class="row g-0">
        <div class="col g-0">
          <span>Ime:</span>
        </div>
        <div class="col g-0">
          <span>{{ selectedPanel.name }}</span>
        </div>
      </div>
      <div class="row g-0">
        <div class="col g-0">
          <span>Efikasnost:</span>
        </div>
        <div class="col g-0">
          <span>{{ selectedPanel.efficiency }}</span>
        </div>
      </div>
      <div class="row g-0">
        <div class="col g-0">
          <span>Geografska širina:</span>
        </div>
        <div class="col g-0">
          <span>{{ selectedPanel.longitude }}</span>
        </div>
      </div>
      <div class="row g-0">
        <div class="col g-0">
          <span>Geografska dužina:</span>
        </div>
        <div class="col g-0">
          <span>{{ selectedPanel.latitude }}</span>
        </div>
      </div>
    </div>
  </div>
}
