input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(248, 247, 216) inset !important;
}

input[type="text"].ng-dirty.ng-touched,
input[type="password"].ng-dirty.ng-touched,
input[type="number"].ng-dirty.ng-touched,
input[type="email"].ng-dirty.ng-touched,
select.ng-dirty.ng-touched{
  background-color: rgb(248, 247, 216);
}

select {
  width: 100%;
  border-radius: 12px;
  padding-left: 2%;
  padding-right: 2%;
  height: 44px;
  font-size: 16px;
  border: 1px solid rgb(233, 233, 216);
  background-color: white;
  font-weight: 500;
  appearance: none; /* Uklanja default stilove browsera */
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="password"] {
  width: 100%;
  border-radius: 12px;
  padding-left: 2%;
  padding-right: 2%;
  height: 44px;
  font-size: 16px;
  border: 1px solid rgb(233, 233, 216);
  color: pink;
  background-color: white;
  font-weight: 500;

  &:not(:placeholder-shown):focus {
    color: #676765;
  }

  &:not(:placeholder-shown) {
    color: #252610;
  }
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus {
  border: 2px solid #feeb46 !important; /* Žuta boja za border */
  box-shadow: none !important; /* Isključuje plavi box-shadow */
  outline: none;
}