# Node.js modules
**/node_modules/

# Angular build output
**/dist/
**/out-tsc/

# .NET Core build output
**/bin/
**/obj/

# IDE configurations
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Other unnecessary files
**/package-lock.json
**/npm-debug.log
**/yarn.lock

# Ignore local config in VS 
*.user

# Ignore local setup for development
appsettings.Development.json

# Ignoriši TypeScript build informacije
*.tsbuildinfo