<div class="container-fluid g-0"> 
    <div class="row g-0 m-0 mt-5 d-flex align-items-center">
        <div class="col-md-12 ">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">LogOut</a>
              </li>
            </ul>
        </div>
    </div>
</div>
