<div class="container-fluid g-0"> 
    <div class="row g-0 m-0 mt-5 d-flex align-items-center">
        <div class="col-md-12 ">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home" [ngClass]="{ 'active-tab': isActive('/home') }">Home</a>
              </li>
            @if(user.role===Role.User){
              <li class="nav-item">
                <a class="nav-link" routerLink="/map" [ngClass]="{ 'active-tab': isActive('/map') }">Map</a>
              </li>
            }
              @if(user.role===Role.User){
                <li class="nav-item">
                  <a class="nav-link" routerLink="/panel-setup" [ngClass]="{ 'active-tab': isActive('/panel-setup')}">Add New Power Plant</a>
                </li>
              }@if(user.role===Role.Admin){
                <li class="nav-item">
                  <a class="nav-link" routerLink="/dashboard-admin" [ngClass]="{ 'active-tab': isActive('/dashboard-admin')}">User Management</a>
                </li>
              } 
              <li class="nav-item">
                <a class="nav-link" routerLink="/logout" [ngClass]="{ 'active-tab': isActive('/logout') }">LogOut</a>
              </li>
            </ul>
        </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
</div>
