
:root{
    --component-backgroud: #f4f3f9;
    --button-yellow:  #dbc920;
    --button-yellow-hover: #F7F6A2;
    --title-text-color: #495666;
    --blue-background: #405189;
    --white: #ffff;
    --border: #f3f2f7;
    --small-font: #878e96;
    --background-color: #FFFFFF;
    --menu-item-selected: #080707;
    --red-button: #E34949;
    --green-button: #188D52;
    --button-text: #FFFFFF;
    --border-bottom: 1px solid #E3E3E3;
    --text-color: #333232;
    --form-field: #ffffff;
    --form-field-selecte: #f8f8f8;
    --form-field-border: 1px solid #E3E3E3;

}
