:root{
    --component-backgroud: #f4f3f9;
    --button-yellow:  #FFF9C4;
    --button-yellow-hover: #F7F6A2;
    --title-text-color: #495666;
    --blue-background: #405189;
    --white: #ffff;
    --border: #f3f2f7;
    --small-font: #878e96;
}
