.add{
    height: auto;
    align-items: center;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 8px;
    border: none;
    background-color: var(--button-yellow);
    color: var(--button-text);
    font-weight: 500;
    width: max-content;
}