.container-fluid {
  color: var(--title-text-color);
  background-color: var(--white);
}

.subtitle {
  font-weight: 500;
  font-size: 13px;
}

.subtitle-component {
  padding: 0 6rem 0 6rem;
}

.container-parameters {
  background-color: var(--component-backgroud);
  transition: transform 0.2s, box-shadow 0.2s;
  width: fit-content;
  font-weight: 500;
}

.container-parameters:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
}

.subtitle-bigger {
  font-weight: 600;
  font-size: 18px;
}

.borderb {
  border-bottom: 2px solid var(--border);
}

.bordert {
  border-top: 2px solid var(--border);
}

.small {
  color: var(--small-font);
}

.border-container{
    border: 2px solid var(--border);
}

// .line-chart{
//   width: 260px !important;
//   height: 260px !important;
// }

// .chart-container {
//   position: relative;
//   width: 100%;
//   height: 250px;

//   // .chart-text {
//   //     position: absolute;
//   //     top: 50%;
//   //     left: 50%;
//   //     transform: translate(-50%, -50%);
//   //     text-align: center;
//   // }
// }
