<div class="container-fluid g-0">
  <div
    class="row-md-12 d-flex mt-5 justify-content-start subtitle-component pb-3"
  >
    <span class="subtitle-bigger">SOLARNA ELEKTRANA: BEOGRAD</span>
  </div>
  <div class="row-md-12 d-flex justify-content-center gap-2">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center container-parameters p-3 rounded m-3"
    >
      <span class="subtitle">TRENUTNA TEMPERATURA</span>
      <span class="small">43C</span>
    </div>
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center container-parameters p-3 rounded m-3"
    >
      <span class="subtitle">TRENUTNA OBLACNOST</span>
      <span class="small">30%</span>
    </div>
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center container-parameters p-3 rounded m-3"
    >
      <span class="subtitle">TRENUTNA SNAGA</span>
      <span class="small">40kW</span>
    </div>
  </div>
  <div
    class="row-md-12 d-flex justify-content-start subtitle-component pt-3"
    (click)="getYesterdayPower()"
  >
    <span class="subtitle">JUCE</span>
  </div>
  <div class="row-md-12 d-flex justify-content-center gap-2">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center chart-parameters p-3 rounded m-3"
    >
      <canvas
        baseChart
        [data]="yesterdayChartData"
        [options]="chartPowerOptions"
        [type]="'line'"
      >
      </canvas>
    </div>
  </div>
  <div class="row-md-12 d-flex justify-content-start subtitle-component" (click)="getTodayPower()">
    <span class="subtitle">DANAS</span>
  </div>
  <div class="row-md-12 d-flex justify-content-center">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center chart-parameters p-3 rounded m-3"
    >
      <canvas
        baseChart
        [data]="todayChartData"
        [options]="chartPowerOptions"
        [type]="'line'"
      >
      </canvas>
    </div>
  </div>
  <div class="row-md-12 d-flex justify-content-start subtitle-component" (click)="getTomorrowPower()">
    <span class="subtitle">SUTRA</span>
  </div>
  <div class="row-md-12 d-flex justify-content-center gap-2 borderb pb-5">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center chart-parameters p-3 rounded m-3"
    >
      <canvas
        baseChart
        [data]="tomorrowChartData"
        [options]="chartPowerOptions"
        [type]="'line'"
      >
      </canvas>
    </div>
  </div>
  <!-- second section -->
  <div class="row-md-12 d-flex justify-content-center gap-2 pt-5">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center container-parameters p-3 rounded m-3"
    >
      <span class="subtitle">TRENUTNA SNAGA</span>
      <span class="small">1kw</span>
    </div>
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center container-parameters p-3 rounded m-3"
    >
      <span class="subtitle">TRENUTNA CENA</span>
      <span class="small">0.4RSD</span>
    </div>
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center container-parameters p-3 rounded m-3"
    >
      <span class="subtitle">TRENUTNA OSTVARENA DOBIT</span>
      <span class="small">32.000 RSD</span>
    </div>
  </div>
  <div class="row-md-12 d-flex justify-content-start subtitle-component pt-3" (click)="getYesterdayProfit()">
    <span class="subtitle">JUCE</span>
  </div>
  <div class="row-md-12 d-flex justify-content-center gap-2">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center chart-parameters p-3 rounded m-3"
    >
      <canvas
        baseChart
        [data]="yesterdayProfitData"
        [options]="chartProfitOptions"
        [type]="'line'"
      >
      </canvas>
    </div>
  </div>
  <div class="row-md-12 d-flex justify-content-start subtitle-component" (click)="getTodayProfit()">
    <span class="subtitle">DANAS</span>
  </div>
  <div class="row-md-12 d-flex justify-content-center">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center chart-parameters p-3 rounded m-3"
    >
      <canvas
        baseChart
        [data]="todayProfitData"
        [options]="chartProfitOptions"
        [type]="'line'"
      >
      </canvas>
    </div>
  </div>
  <div class="row-md-12 d-flex justify-content-start subtitle-component" (click)="getTomorrowProfit()">
    <span class="subtitle">SUTRA</span>
  </div>
  <div class="row-md-12 d-flex justify-content-center gap-2 borderb">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center chart-parameters p-3 rounded m-3"
    >
      <canvas
        baseChart
        [data]="tomorrowProfitData"
        [options]="chartProfitOptions"
        [type]="'line'"
      >
      </canvas>
    </div>
  </div>
</div>
