<div class="container g-0 pt-5">
    <div style="background-color: antiquewhite;">
        <div
          class="row-md-12 d-flex justify-content-start"
          style="background-color: aqua"
        >
          <span>Solarna elektrana: Beograd</span>
        </div>
        <div class="row-md-12 d-flex justify-content-between">
          <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
            <span>Trenutna temp</span>
            <span>43C</span>
          </div>
          <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
            <span>Trenutna oblacnost</span>
            <span>30%</span>
          </div>
          <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
            <span>Trenutna snaga</span>
            <span>40kW</span>
          </div>
        </div>
        <div
          class="row-md-12 d-flex justify-content-start"
          style="background-color: pink"
        >
          <span>Dijagrami za proslost</span>
        </div>
        <div class="row-md-12 d-flex justify-content-between">
          <div class="col-md-4 d-flex justify-content-center">
            <span>Juce</span>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <span>7 dana unazad</span>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <span>30 dana unazad</span>
          </div>
        </div>
        <div
          class="row-md-12 d-flex justify-content-start"
          style="background-color: pink"
        >
          <span>Dijagrami za danas</span>
        </div>
        <div class="row-md-12 d-flex justify-content-between">
          <div class="col-md-12 d-flex justify-content-center">
            <span>Danas</span>
          </div>
        </div>
        <div class="row-md-12 d-flex justify-content-start" style="background-color: pink;">
          <span>Dijagrami za buducnost</span>
      </div>
      <div class="row-md-12 d-flex justify-content-between">
          <div class="col-md-4 d-flex justify-content-center">
             <span>Sutra</span>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
             <span>Narednih 7 dana</span>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
             <span>narednih 14 dana</span>
          </div>
      </div>
    </div>
    <div class="mt-4" style="background-color: rgb(198, 177, 218);">

      <div class="row-md-12 d-flex justify-content-between">
        <div class="col-md-4 d-flex justify-content-center">
          <span>Trenutna snaga</span>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <span>Trenutna cena</span>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <span>Trenutna ostvarena dobit</span>
        </div>
      </div>
      <div
        class="row-md-12 d-flex justify-content-start"
        style="background-color: pink"
      >
        <span>Dijagrami za proslost</span>
      </div>
      <div class="row-md-12 d-flex justify-content-between">
        <div class="col-md-4 d-flex justify-content-center">
          <span>Juce</span>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <span>7 dana unazad</span>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <span>30 dana unazad</span>
        </div>
      </div>
      <div
        class="row-md-12 d-flex justify-content-start"
        style="background-color: pink"
      >
        <span>Dijagrami za danas</span>
      </div>
      <div class="row-md-12 d-flex justify-content-between">
        <div class="col-md-12 d-flex justify-content-center">
          <span>Danas</span>
        </div>
      </div>
      <div class="row-md-12 d-flex justify-content-start" style="background-color: pink;">
        <span>Dijagrami za buducnost</span>
    </div>
    <div class="row-md-12 d-flex justify-content-between">
        <div class="col-md-4 d-flex justify-content-center">
           <span>Sutra</span>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
           <span>Narednih 7 dana</span>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
           <span>narednih 14 dana</span>
        </div>
    </div>
    </div>
</div>
