<div class="container-fluid g-0">
  <div
    class="row-md-12 d-flex mt-5 justify-content-start subtitle-component pb-3"
  >
    <span class="subtitle-bigger">SOLARNA ELEKTRANA: {{panel.name}}</span>
  </div>
  <div class="row-md-12 d-flex justify-content-center gap-2">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center container-parameters p-3 rounded m-3"
    >
      <span class="subtitle">TRENUTNA TEMPERATURA</span>
      <span class="small">{{currentTemp}} C</span>
    </div>
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center container-parameters p-3 rounded m-3"
    >
      <span class="subtitle">TRENUTNA OBLACNOST</span>
      <span class="small">{{currentCloudnes}} %</span>
    </div>
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center container-parameters p-3 rounded m-3"
    >
      <span class="subtitle">UKUPNO IZGENERISANA SNAGA</span>
      <span class="small">{{generatedPowerSum | number:'1.2-2'}} W</span>
    </div>
  </div>
  <div
    class="row-md-12 d-flex justify-content-between subtitle-component pt-3"
  >
    <span class="subtitle d-flex align-items-center">JUCE</span>
    <span class="subtitle pointer span-wrapper" (click)="generateCSV(yesterdayChartData)">PREUZMI CSV</span>
  </div>
    <div class="row-md-12 d-flex justify-content-center gap-2">
      <div
        class="col-md-4 d-flex flex-column align-items-center justify-content-center chart-parameters p-3 rounded m-3"
      >
        <canvas
          baseChart
          [data]="yesterdayChartData"
          [options]="chartPowerOptions"
          [type]="'line'"
        >
        </canvas>
      </div>
    </div>
  
  <div class="row-md-12 d-flex justify-content-between subtitle-component">
    <span class="subtitle d-flex align-items-center">DANAS</span>
    <span class="subtitle pointer span-wrapper" (click)="generateCSV(todayChartData)">PREUZMI CSV</span>
  </div>
  <div class="row-md-12 d-flex justify-content-center">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center chart-parameters p-3 rounded m-3"
    >
      <canvas
        baseChart
        [data]="todayChartData"
        [options]="chartPowerOptions"
        [type]="'line'"
      >
      </canvas>
    </div>
  </div>
  <div class="row-md-12 d-flex justify-content-between subtitle-component">
    <span class="subtitle d-flex align-items-center">SUTRA</span>
    <span class="subtitle pointer span-wrapper" (click)="generateCSV(tomorrowChartData)">PREUZMI CSV</span>
  </div>
  <div class="row-md-12 d-flex justify-content-center gap-2 borderb pb-5">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center chart-parameters p-3 rounded m-3"
    >
      <canvas
        baseChart
        [data]="tomorrowChartData"
        [options]="chartPowerOptions"
        [type]="'line'"
      >
      </canvas>
    </div>
  </div>
  <!-- second section -->
  <div class="row-md-12 d-flex justify-content-center gap-2 pt-5">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center container-parameters p-3 rounded m-3"
    >
      <span class="subtitle">TRENUTNA SNAGA</span>
      <span class="small">{{currentPower | number: '1.2-2'}} W</span>
    </div>
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center container-parameters p-3 rounded m-3"
    >
      <span class="subtitle">TRENUTNA CENA</span>
      <span class="small">{{currentPrice}} EUR</span>
    </div>
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center container-parameters p-3 rounded m-3"
    >
      <span class="subtitle">UKUPNA OSTVARENA DOBIT</span>
      <span class="small">{{profitSum | number:'1.2-2'}} EUR</span>
    </div>
  </div>
  <div class="row-md-12 d-flex justify-content-between subtitle-component pt-3">
    <span class="subtitle d-flex align-items-center">JUCE</span>
    <span class="subtitle pointer span-wrapper" (click)="generateCSV(yesterdayProfitData)">PREUZMI CSV</span>
  </div>
  <div class="row-md-12 d-flex justify-content-center gap-2">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center chart-parameters p-3 rounded m-3"
    >
      <canvas
        baseChart
        [data]="yesterdayProfitData"
        [options]="chartProfitOptions"
        [type]="'line'"
      >
      </canvas>
    </div>
  </div>
  <div class="row-md-12 d-flex justify-content-between subtitle-component">
    <span class="subtitle d-flex align-items-center">DANAS</span>
    <span class="subtitle pointer span-wrapper" (click)="generateCSV(todayProfitData)">PREUZMI CSV</span>
  </div>
  <div class="row-md-12 d-flex justify-content-center">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center chart-parameters p-3 rounded m-3"
    >
      <canvas
        baseChart
        [data]="todayProfitData"
        [options]="chartProfitOptions"
        [type]="'line'"
      >
      </canvas>
    </div>
  </div>
  <div class="row-md-12 d-flex justify-content-between subtitle-component">
    <span class="subtitle d-flex align-items-center">SUTRA</span>
    <span class="subtitle pointer span-wrapper" (click)="generateCSV(tomorrowProfitData)">PREUZMI CSV</span>
  </div>
  <div class="row-md-12 d-flex justify-content-center gap-2 borderb">
    <div
      class="col-md-4 d-flex flex-column align-items-center justify-content-center chart-parameters p-3 rounded m-3"
    >
      <canvas
        baseChart
        [data]="tomorrowProfitData"
        [options]="chartProfitOptions"
        [type]="'line'"
      >
      </canvas>
    </div>
  </div>
</div>
