<div class="container g-0 pt-5">
  <div class="row-md-12 d-flex pb-2 pt-3">
    <div class="col-md-12 g-0">
      <div class="col d-flex justify-content-center bold-text">
        OSNOVNE INFORMACIJE
      </div>
    </div>
  </div>
  <div class="row-md-12 d-flex justify-content-between p-4 first-block">
    <div class="col-md-3 g-0">
      <div class="col d-flex justify-content-center pb-2 bold-text">
        UKUPNO IZGENERISANA SNAGA
      </div>
      <div class="col d-flex justify-content-center box-generated-sum p-3">
        5435,4Mkw
      </div>
    </div>
    <div class="col-md-3 g-0">
      <div class="col d-flex justify-content-center pb-2 bold-text">
        BROJ ELEKTRANA
      </div>
      <div class="col d-flex justify-content-center box-panel-number p-3">
        {{ data?.length }}
      </div>
    </div>
    <div class="col-md-3 g-0">
      <div class="col d-flex justify-content-center pb-2 bold-text">
        OSTVARENI PROFIT
      </div>
      <div class="col d-flex justify-content-center box-earned-sum p-3">
        54.232.43 RSD
      </div>
    </div>
  </div>
  <div class="row-md-12 d-flex pt-5 pb-2">
    <div class="col-md-12 g-0">
      <div class="col d-flex justify-content-center bold-text">ELEKTRANE</div>
    </div>
  </div>
  <div class="d-flex second-block justify-content-between p-5">
    @for(item of data; track item.id){
    <div class="col-md-3 d-flex justify-content-center box-panel p-5" [routerLink]="['/solar-panel', item.id]">
      {{ item.name }}
    </div>
    }
  </div>
</div>
